@model DatabaseMgmt.Views.Member_Type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maxBooks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxBooks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limitDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limitDuration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.memberTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
