@model IEnumerable<DatabaseMgmt.Views.BookCopy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.bookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.section)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.bookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.section)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bookCopyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.bookCopyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bookCopyID })
        </td>
    </tr>
}

</table>
