@model IEnumerable<DatabaseMgmt.Views.Librarian>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.librarianName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.librarianEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.librarianAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.librarianContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.librarianUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.librarianPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hiredate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.librarianName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.librarianEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.librarianAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.librarianContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.librarianUsername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.librarianPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hiredate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.librarianID }) |
            @Html.ActionLink("Details", "Details", new { id=item.librarianID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.librarianID })
        </td>
    </tr>
}

</table>
